*{
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
}
	
body{
	margin:0;
}

figure{
	margin:0;
}

.photostack {
	background: #ddd;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.js .photostack {
	height: 665px;
}

/* The size of this wrapper can be smaller if the items should not be scattered across the whole container */ 
.photostack > div {
	width: 60%;
	height: 60%;
	margin: 0 auto;
}

.photostack figure {
	width: 320px;
	height: 360px;
	position: relative;
	display: inline-block;
	padding: 40px;
	text-align: center;
	margin: 5px;
}

.js .photostack figure {
	position: absolute;
	display: block;
	margin: 0;
}

.photostack figcaption h2 {
	margin: 20px 0 0 0;
	color: #a7a0a2;
	font-size: 0px;
} 

/* Navigation dots */
.photostack nav {
	position: absolute;
	width: 100%;
	bottom: 30px;
	z-index: 90;
	text-align: center;
	left: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.photostack-start nav {
	opacity: 0;
}
 
.photostack nav span {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: #aaa;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: -webkit-transform 0.6s ease-in-out, background 0.3s;
	transition: transform 0.6s ease-in-out, background 0.3s;
	-webkit-transform: scale(0.48);
	transform: scale(0.48);
}


.photostack nav span::after {
	content: "\e600";
	font-family: 'icons';
	font-size: 80%;
	speak: none;
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 30px;
	color: #fff;
	opacity: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.photostack nav span.current {
	background: #888;
	-webkit-transform: scale(0.61);
	transform: scale(0.61);
}

.photostack-transition figure {
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
}




