* {
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
	background-image: image-url("background/nightHarbour2.png");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	overflow:hidden;
}

.container {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;

}

p.alert.alert-success {
	margin-left: 20px;
	opacity: 0.8;
	position: absolute;
}

p.alert.alert-danger {
	margin-left: 20px;
	opacity: 0.8;
	position: absolute;
}

.container2 {
	position:relative;
	width: 100%;
	height: 100%;
}

.colours {
	position: absolute;
	left:50%;
	top: 50%;
	width: 520px;
	height:65px;
	padding: 5px;
	margin-left:-250px;
	margin-top: 20%;
}

a {
	text-decoration:none;
	color: white;
}


h1 {
	text-align: center;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 85px;
	color: white;
	opacity: 0.85;
}


.tag h2 {
	text-align: center;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: white;
	font-size: 28px;
	font-style: italic;
	opacity: 0.75;
	
}

.title {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 100px;
}

.tag {
	position: relative;
	margin: auto;
	margin-top: 40px;
	width: 50%;
	height: 40px;
}


.button {
	width: 50px;
	height: 50px;
	padding: 15px;
	display: inline;
}

#navbar {
	height: 50px;
	position: relative;
	opacity: 0.8;
	z-index: 3;
	margin-right: 15px;
	margin-top: 10px;
}


#navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	float: right;
}


#navbar a {
	color: white;
	text-decoration: none;
}


#navbar li {
	display: inline;
	position: relative; 
	padding: 20px;
	top: 12px;
}

p.alert.alert-success {
	  color: white;
	  position: absolute;
}
