// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// done just needing images to play with styling for lightbox and photostack
	
.colours2 {
	position: relative;
	width: 500px;
	height: 65px;
	margin: auto;
	padding-top: 20px;
	z-index: 3000;
}

#photostack-1{
	margin: 0 auto;
	width: 40%;
	height: 40%;
}

.style_image {
	max-width: 350px;
	max-height: 250px;
	width: auto;
	height: auto;
}

.title {
	z-index: 30001;
	opacity: 0.9;
}