// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
	width: 200px;
	height: 60px;
}

.newEditImage {
	margin: 0 auto;
	margin-top: 50px;
	width: 180px;
	height: 300px;
	font-size: 18px;
	color: white;
}

.style_image {
	max-width: 700px;
	max-height: 400px;
	width: auto;
	height: auto;
}

.uploaded {
	margin: 0 auto;
	max-width: 700px;
	width: auto;
	
}

#showtable {
	margin: 0 auto;
	width: 805px;
	margin-top: 30px;
}

#newImage {
	margin: 0 auto;
	width: 200px;
}

.a_img {
	color: white;
}

table {
	margin: 0 auto;
}

table, th, td {
	color: white;
}

thead {
	font-size: 22px;
	text-align: left;
	line-height: 50px;
}

.spacing {
	padding-left: 15px;
}

.bar {
	color: white;
}

input[type="text"] {
    font-size:16px
}

input[type="file_field"] {
    font-size:16px
}

input[type="select"] {
    font-size:16px
}

select#image_colour {
	width: 75px;
	height: 22px;
}
input[type="submit"] {
    font-size:16px
}

p {
	color: white;
}
