body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

p, ol, ul, td {

  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
  line-height:22px;

}

pre {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    color: #BDBDBD;
  }
}

div {
  &.field, &.actions {
	color: white;
	padding: 3px;

  }
}

.content {
	padding-top: 30px;
	margin: 0 auto;
	width: 300px;
}


#notice {
  color: white;
}


input {
	font-size: 14px;
	height: 20px;
	width: 150px;
}

button {
	font-size: 30px;
	height: 80px;
	width: 100px;
	
}

input[type="checkbox"]{
	width: 20px;
}

.actions {
	height:30px;
	width: 30px;
	font-size: 50px;
    margin-bottom: 10px;
}


#notice {
  color: green;
}


#error_explanation {
  width: 450px;
  ul li {
	color: white;
    font-size: 12px;
    list-style: none;
  	padding: 7px;
	padding-bottom: 0;
}
}
