form.new_user {
	width: 200px;
	height: 500px;
}

div {
  &.field, &.actions {
	color: white;
	padding: 3px;
	line-height: 25px;
	width: 200px;
	overflow: visible;

  }
}

.content {
	padding-top: 30px;
	margin: 0 auto;
	width: 170px;
}

#email, #password, #password_confirmation {
	margin-top: 5px;
	margin-bottom: 5px;
}

#password_field {
	height: 85px;
}

em {
	font-size: 12px;
	line-height: 12px;
}

#error_explanation {
  width: 450px;
  margin-top: 50px;
  ul li {
	color: white;
    font-size: 16px;
    list-style: none;
  	padding: 7px;
	padding-bottom: 0;
	margin-left: -45px;
}
	h2 {
	 visibility: hidden;
	 font-size: 2px;	
	}
}

.field_with_errors {
	width: 1px;
	height: 1px;
}

.editUser {
	width: 250px;
	margin: 0 auto;
}

h2 {
	color: white;
}