

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	color:white;
}

#approval {
	margin: 0 auto;
	width: 500px;
	margin-top: 30px;

}

#edit_approval {
	margin: 0 auto;
	margin-top: 30px;
	width: 300px;

}