
<%= render :partial=>"devise/shared/navbar" %> 

<div class="title">
	<h1>
		Wellington Exposure
	</h1>
</div>


<div class="newEditImage">

<%= render 'form' %>

<div class="a_img">
	<%= link_to 'Show', @image%> <span class="bar">|</span>
	<%= link_to 'Back', images_path%>
</div>
</div>