<%= render :partial=>"devise/shared/navbar" %> 

<div class="title">
	<h1>
		Wellington Exposure
	</h1>
</div>

<div class="newEditImage">

<%= render 'form' %>

<%= link_to 'Back', images_path %>

</div>